*{
    margin: 0;
    padding: 0;
  }
  *, *::after, *::before{
    box-sizing: border-box;
  }

  header {
    height: 10rem;
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: flex-end;
  }

 header a {
   margin: 2rem;
  }

 header a img {
   border-radius: 20px;
   border: 3px solid black;
   height: 5rem;
 }
  
 footer{
  height: 10rem;
  width: 100%;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 footer small a {
  margin: 3rem;
  text-decoration: none;
  color: white;
  font-size: 2rem;
 }